@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:"nav"
                      "main"
                      "contact"
                      "footer";
  width: 100%;
  height: 100vh;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
  background-color: #E57C23;
}

.nav-logo img {
  width: 50px;
  animation: rotation 8s infinite linear;
}
.nav-logo span {
  font-size: 20px;
  font-weight: 600;
  animation: navLogoRight 3s ease forwards;
}
.menu-list-item {
  text-decoration: none;
  transition: transform 1s;
}
.menu-list-item:hover {
  transform: scale(1.5);
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
main .titles {
  background-color: #025464;
  color:#F8F1F1;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-left: 15px;
}
.guitar-item, .bass-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: 1px solid #eae3e3;
  box-shadow: 1px 1px 10px 1px #b4c1d1;
  animation: CardOpacity 4s ease forwards;
}
.guitar-item img {
  width: 60%;
  height: 90%;
  padding-top: 10px;
  transition: filter 0.3s; 
  filter: grayscale(100%); 
 }
 .guitar-item:hover img {
  filter: grayscale(0%);

}
.guitar-item p {
  color: #444;
  font-size: 22px;
  padding: 10px;
  transition: transform 1s;
}
.guitar-item:hover p {
  transform: scale(1.2);
}
.guitar-item a {
    text-decoration: none;
    background-color: #0367a6;
    border: 1px solid transparent;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-out;
}
.guitar-item a:hover {
  background-color: rgb(255, 140, 0);
} 
.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  transition: .5s;
  opacity: 0;
  animation: contactTop 1s ease forwards;
  animation-delay: 1s;
}
form {
  padding: 10px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  
}
form h2 {
  color: #025464;
  font-size: 35;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
form .btn {
  border: 1px solid #E57C23;
  color:#025464;
  font-weight: bold;
  margin: 10px 60px;
  
}
form .btn:hover {
  border: 1px solid orange;
  color: orange;
}

label {
  color:#025464;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
input,
textarea {
  padding: 17px 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 2px solid #f0faf1;
  color: #283629;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color:#025464;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; 
  background-color: #E8AA42;
  color: whitesmoke;
  margin-top:auto;
}
.footer-icon{
  padding-top: 10px;
}
.footer-icon a {
  text-decoration: none;
  color: whitesmoke;
  
  font-size: 20px;
}

@media (min-width: 992px) { 
    .grid-container{
        grid-template-columns: 20% 80%;
        grid-template-areas: "nav main" 
                             "nav contact" 
                             "footer footer";
                             
    }
    nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-items: center;
    }
    .nav-logo {
      padding: 15px;
    }
   .nav-menu-list {
      padding: 15px;
      color: white;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-list-item {
      padding: 5px;
    }
    .guitar, .bass{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
     }
     .guitar-item {
      width: 320px;
     }
     .guitar-item p {
     margin-top: auto;
    }
} 
@keyframes  navLogoRight {
  0%{
      transform: translateX(-300px);
      opacity: 0;
  }
 100%{
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes  CardOpacity {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes  contactTop {
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}