@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:"nav"
                      "main"
                      "contact"
                      "footer";
  width: 100vw;
  height: 100vh;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 10px;
  color: whitesmoke;
  background-color: #E57C23;
}
.nav-logo img {
  width: 80px;
}
.menu-list-item {
  text-decoration: none;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
main h1 {
  padding-left: 10px;
  
}
.guitar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 15px;
  border: 1px solid #eae3e3;
  box-shadow: 1px 1px 10px 1px #b4c1d1;
}
.guitar-item img {
  width: 60%;
 }
.guitar-item p {
  color: #444;
  font-size: 22px;
  padding: 10px 20px;
}
.guitar-item a {
    text-decoration: none;
    background-color: #0367a6;
    border: 1px solid #0367a6;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px
}
form {
  padding: 10px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  
}
form h2 {
  color: #025464;
  font-size: 35;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
form .btn {
  border: 1px solid #E57C23;
  color:#025464;
}
form .btn:hover {
  border: 1px solid orange;
  color: orange;
}

label {
  color:#025464;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
input,
textarea {
  padding: 17px 25px;
  border-radius: 20px;
  margin-bottom: 20px;

  border: 2px solid #f0faf1;
  color: #283629;
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color:#025464;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; 
  background-color: #E8AA42;
  color: whitesmoke;
  margin-top:auto;
}

/* @media (min-width:576px) {
    .guitar{
        display:grid;
        grid-template-columns: repeat(auto,minwidth(300px));
        flex-direction: row;
    }
}
*/
@media (min-width: 992px) { 
    .grid-container{
        grid-template-columns: 20% 80%;
        grid-template-areas: "nav main" 
                             "nav contact" 
                             "nav footer";
                             
    }
    nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-items: center;
    }
    .nav-logo {
      padding: 15px;
    }
   .nav-menu-list {
      padding: 15px;
      color: white;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu-list-item {
      padding: 5px;
    }
    .guitar{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
     }
} 
